<div id="canvas">
  <div id="mobileNav">
    <div class="wrapper">
      <nav class="main-nav mobileNav"><ul>
          <li class="page-collection active-link">
            <%= link_to 'Home', root_path %>
          </li>
          <li class="products-collection">
            <a href="http://www.threadandstoneco.com/shop/">Shop</a>
          </li>
          <li class="page-collection">
            <a href="http://www.threadandstoneco.com/about/">About</a>
          </li>
          <li class="page-collection">
            <a href="http://www.threadandstoneco.com/lost-paradise/">Lost Paradise</a>
          </li>
          <li class="page-collection">
            <a href="http://www.threadandstoneco.com/city-and-far/">City and Far</a>
          </li>
          <li class="page-collection">
            <a href="http://www.threadandstoneco.com/found-escape/">Found Escape</a>
          </li>
          <li class="index-collection">
            <a href="http://www.threadandstoneco.com/press/">Press</a>
          </li>
          <li class="page-collection">
            <a href="http://www.threadandstoneco.com/contact/">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="mobileMenuLink"><a>Menu</a></div>
  <header id="header" class="clear">
    <div id="upper-logo">
      <h1 class="logo" data-content-field="site-title">
        <%= link_to image_tag("logo.jpg"), "http://www.threadandstoneco.com/" %>
      </h1>
    </div>

<div id="topNav">
  <nav class="main-nav" data-content-field="navigation">
    <ul>
      <li class="page-collection active-link">
        <a href="./Home — THREAD & STONE_files/Home — THREAD & STONE.html">Home</a>
      </li>
      <li class="products-collection">
        <a href="http://www.threadandstoneco.com/shop/">Shop</a>
      </li>
      <li class="page-collection">
        <a href="http://www.threadandstoneco.com/about/">About</a>
      </li>
      <li class="folder-collection folder">
        <a aria-haspopup="true" href="http://www.threadandstoneco.com/home/#" onclick="return false;">Lookbook</a>
        <div class="subnav">
          <ul>
            <li class="page-collection">
              <a href="http://www.threadandstoneco.com/lost-paradise/">Lost Paradise</a>
            </li>
            <li class="page-collection">
              <a href="http://www.threadandstoneco.com/city-and-far/">City and Far</a>
            </li>
            <li class="page-collection">
              <a href="http://www.threadandstoneco.com/found-escape/">Found Escape</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="index-collection folder">
        <a href="http://www.threadandstoneco.com/press/">Press</a>
      </li>
      <li class="page-collection">
        <a href="http://www.threadandstoneco.com/contact/">Contact</a>
      </li>
    </ul>
    <div class="page-divider"></div>
  </nav>
</div>
    </header>
    <div class="page-divider top-divider"></div>
    <!-- // page image or divider -->
    <section id="page" role="main" data-content-field="main-content" style="opacity: 1;">
      <!-- // CATEGORY NAV -->
      <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1417222278898" id="page-51d327bde4b0fc82c7b777f5"><div class="row sqs-row" id="yui_3_17_2_1_1422850119067_305"><div class="col sqs-col-12 span-12" id="yui_3_17_2_1_1422850119067_304"><div class="sqs-block gallery-block sqs-block-gallery" data-block-json="{&quot;methodOption&quot;:&quot;transient&quot;,&quot;existingGallery&quot;:null,&quot;design&quot;:&quot;slideshow&quot;,&quot;aspectRatio&quot;:null,&quot;autoplay&quot;:true,&quot;autoplay-duration&quot;:4,&quot;controls&quot;:false,&quot;auto-crop&quot;:false,&quot;square-thumbs&quot;:false,&quot;thumbnails&quot;:false,&quot;thumbnail-strip-height&quot;:80,&quot;thumbnail-strip-margin&quot;:20,&quot;show-meta&quot;:false,&quot;meta-position&quot;:&quot;bottom&quot;,&quot;show-meta-on-hover&quot;:false,&quot;active-alignment&quot;:&quot;center&quot;,&quot;thumbnails-per-row&quot;:4,&quot;padding&quot;:20,&quot;lightbox&quot;:false,&quot;max-width&quot;:300,&quot;collectionId&quot;:&quot;51d47076e4b0235e12f34695&quot;,&quot;vSize&quot;:null,&quot;transientGalleryId&quot;:&quot;51d47076e4b0235e12f34695&quot;}" data-block-type="8" id="block-d3bad4330ce5b6b7df85"><div class="sqs-block-content" id="yui_3_17_2_1_1422850119067_179"><div class="
                  sqs-gallery-container
                  sqs-gallery-block-slideshow
                  clear
                  " id="yui_3_17_2_1_1422850119067_178">
              <%= image_tag 'building-front.jpg', id: 'main-welcome-image' %>
                      <div class="color-overlay"></div>
                </div>
                </div></div></div></div><div class="row sqs-row" id="yui_3_17_2_1_1422850119067_188"><div class="col sqs-col-4 span-4" id="yui_3_17_2_1_1422850119067_187"><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1416366136266_113611"><div class="sqs-block-content" id="yui_3_17_2_1_1422850119067_186">
                <div class="image-block-outer-wrapper layout-caption-hidden " id="yui_3_17_2_1_1422850119067_185">
                  <div class="intrinsic" style="max-width:2083.0px;" id="yui_3_17_2_1_1422850119067_184">
                    <a href="http://www.threadandstoneco.com/behind-the-scenes" id="yui_3_17_2_1_1422850119067_183">
                      <div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_1_1422850119067_182">
                        <noscript>&lt;img src="http://static1.squarespace.com/static/51d327bce4b0fc82c7b777f2/t/546c0e1be4b03de55204b728/1416367652826/"  /&gt;</noscript><img class="thumb-image loaded" data-src="http://static1.squarespace.com/static/51d327bce4b0fc82c7b777f2/t/546c0e1be4b03de55204b728/1416367652826/" data-image="http://static1.squarespace.com/static/51d327bce4b0fc82c7b777f2/t/546c0e1be4b03de55204b728/1416367652826/" data-image-dimensions="2083x2083" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="546c0e1be4b03de55204b728" data-type="image" src="./Home — THREAD & STONE_files/saved_resource(1)" data-image-resolution="750w" style="top: 0%; left: 0%; width: 100%; height: 100%; position: absolute;">
                      </div>
                    </a>
                  </div>
                </div>
                </div></div></div><div class="col sqs-col-4 span-4" id="yui_3_17_2_1_1422850119067_207"><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1416368089707_19465"><div class="sqs-block-content" id="yui_3_17_2_1_1422850119067_206">
                <div class="image-block-outer-wrapper layout-caption-hidden " id="yui_3_17_2_1_1422850119067_205">
                  <div class="intrinsic" style="max-width:100%;" id="yui_3_17_2_1_1422850119067_204">
                    <a href="http://www.threadandstoneco.com/film" id="yui_3_17_2_1_1422850119067_203">
                      <div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_1_1422850119067_202">
                        <noscript>&lt;img src="http://static1.squarespace.com/static/51d327bce4b0fc82c7b777f2/t/54791585e4b07c978834e9c8/1417221510889/"  /&gt;</noscript><img class="thumb-image loaded" data-src="http://static1.squarespace.com/static/51d327bce4b0fc82c7b777f2/t/54791585e4b07c978834e9c8/1417221510889/" data-image="http://static1.squarespace.com/static/51d327bce4b0fc82c7b777f2/t/54791585e4b07c978834e9c8/1417221510889/" data-image-dimensions="2083x2083" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="54791585e4b07c978834e9c8" data-type="image" src="./Home — THREAD & STONE_files/saved_resource(2)" data-image-resolution="750w" style="top: 0%; left: 0%; width: 100%; height: 100%; position: absolute;">
                      </div>
                    </a>
                  </div>
                </div>
                </div></div></div><div class="col sqs-col-4 span-4" id="yui_3_17_2_1_1422850119067_225"><div class="sqs-block image-block sqs-block-image" data-block-type="5" id="block-yui_3_17_2_1_1416367914717_57608"><div class="sqs-block-content" id="yui_3_17_2_1_1422850119067_224">
                <div class="image-block-outer-wrapper layout-caption-hidden " id="yui_3_17_2_1_1422850119067_223">
                  <div class="intrinsic" style="max-width:2083.0px;" id="yui_3_17_2_1_1422850119067_222">
                    <a href="http://www.threadandstoneco.com/tsonthestreet" id="yui_3_17_2_1_1422850119067_221">
                      <div style="padding-bottom:100.0%;" class="image-block-wrapper   has-aspect-ratio" data-description="" id="yui_3_17_2_1_1422850119067_220">
                        <noscript>&lt;img src="http://static1.squarespace.com/static/51d327bce4b0fc82c7b777f2/t/546c0f90e4b0a75239508511/1416368018772/"  /&gt;</noscript><img class="thumb-image loaded" data-src="http://static1.squarespace.com/static/51d327bce4b0fc82c7b777f2/t/546c0f90e4b0a75239508511/1416368018772/" data-image="http://static1.squarespace.com/static/51d327bce4b0fc82c7b777f2/t/546c0f90e4b0a75239508511/1416368018772/" data-image-dimensions="2083x2083" data-image-focal-point="0.5,0.5" data-load="false" data-image-id="546c0f90e4b0a75239508511" data-type="image" src="./Home — THREAD & STONE_files/saved_resource(3)" data-image-resolution="750w" style="top: 0%; left: 0%; width: 100%; height: 100%; position: absolute;">
                      </div>
                    </a>
                  </div>
                </div>
      </div></div></div></div></div>
    </section>
    <div class="sqs-layout sqs-grid-12 columns-12 empty" data-layout-label="Home Footer Content" data-type="block-field" data-updated-on="1416368286720" id="collection-51d327bde4b0fc82c7b777f5"><div class="row sqs-row"><div class="col sqs-col-12 span-12"></div></div></div>
  </div>
  <div></div>
